@import url(../../js/Cesium/Widgets/CesiumWidget/CesiumWidget.css);

@import url(../../js/Cesium/Widgets/widgets.css);

html,body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#rootMenu {
	margin-left: 2px;
}

.cesium-widget-credits {
	display: none;
}

#cesiumContainer {
	z-index: auto;
}

#hbirdMenuTrigger {
	position: fixed;
	top: 4px;
	left: 4px;
	z-index: 100;
}

#jPanelMenu-menu {
	overflow-y: auto;
}